.header-wrap {
    display: flex;
    flex-direction: column;
    padding-top: 40px; padding-bottom: 17px;
    max-width: 1200px;
    width: 100%;
    gap: 33px;
    margin: 0 auto;
}
.cont-inner1 {
    padding-left: 40px; padding-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
    line-height: 0;
}
/* 보류 */
.cont-inner2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.btn-menu {
    padding-right: 18px;
    display: flex;
    justify-content: center;
}
.D-logo>ul {
    display: flex;
    gap: 24px;
}
.menu-text1-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    position: absolute;
    left: 50%; top: 20%;
    transform: translateX(-50%);
}
.header-util-margin {
    flex: 1;
}
.header-util {
    display: flex; 
    justify-content: flex-end;
    align-items: center;
}
.aside {
    gap: 24px;
}
.btn-search-margin {
    padding-left: 20px;
}
.container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    gap: var(--item-spacing-100, 100px);
}
.main-img-box1 {
    overflow: hidden;
    object-fit: cover;
    position: relative;
}
.main-img-box1  img {
    width: 1200px;
}
.txtbox {
    position: absolute;
    left: 50%; bottom: 90px;
    transform: translateX(-50%);
}
.tit , .txt {
    display: flex;
    justify-content: center;
    gap: 12px;
    color: #fff;
    text-align: center;
}
.tit {
    font-size: 36px;
    font-weight: 700;
}
.txt {
    font-size: 16px;
}
.slide-box {
    display: flex;
    position: absolute;
    top: 48%;
}
.before-slide {
    position: absolute;
    left: 48px;
}
.after-slide {
    position: absolute;
    right: 48px;
}
.pc-mo {
    padding: 0 40px 80px 40px;
    /* max-width: 1200px; */
    /* width: 100%; */
}
.tit-area {
    display: flex;
    justify-content: space-between;
    border-bottom: var(--stroke-weight-1, 1px) solid var(--color-grey-7, #111);
}
footer {
    border: 1px solid red;
}