header {
    background-color: red;
}
.logo-box {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
    line-height: 0;
}
.cont-inner2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.D-logo>ul {
    display: flex;
    gap: 24px;
}
.header-util {
    display: flex;
    align-items: center;
}
.aside {
    gap: 24px;
}
.btn-search-margin {
    padding-left: 20px;
}
main {
    background-color: orange;
}
footer {
    background-color: green;
}