header {
    background-color: red;
}
.header-wrap {
    display: flex;
    flex-direction: column;
    padding-top: 40px; padding-bottom: 17px;
    gap: 33px;
    max-width:1200px ;
    width: 100%;
    margin: 0 auto;
}
.cont-inner1 {
    max-width: 1280px;
    padding-left: 40px; padding-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-box {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
    line-height: 0;
    padding-left: 20px; padding-right: 20px;
}
.cont-inner2 {
    border: 1px solid white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-left: 40px; padding-right: 40px;
}
.btn-menu-margin {
    flex: 1;
}
.btn-menu {
    padding-right: 18px;
}
.D-logo>ul {
    display: flex;
    gap: 24px;
    padding-top: 7px; padding-bottom: 7px;
}
.header-util-margin {
    flex: 1;
}
.header-util {
    display: flex; 
        justify-content: flex-end;
    align-items: center;
}
.aside {
    gap: 24px;
}
.btn-search-margin {
    padding-left: 20px;
}
main {
    background-color: orange;
}
footer {
    background-color: green;
}